<!DOCTYPE>
<html>
<body>
<script src="/js/loginCheck.js"></script>
<section id="footer" style="background-color:#292b34;">
        <div class="container">
            <center style="color:#fff;">
            <div class="container">
                <div class="well well-sm main-footer"  style="background-image: url('../source/artist-header.png');">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <p style="font-size: 16px">
                                    © Copyright by Winnebago, Alaska
                                </p>
                                <p style="font-size: 16px">
                                    Stevens Institute of Technology,
                                    CS-546-Web,
                                    Group Winnebago, Alaska,
                                    Final Project : Music recommendation
                                </p>
                                <p style="font-size: 16px">
                                    Author :
                                    <a href="https://www.linkedin.com/in/siran-wang-a4751a105">Siran Wang</a>
                                    · <a href="https://www.facebook.com/profile.php?id=100004599078455&fref=ts&ref=br_tf">Wenhao Liao</a>
                                    · <a href="https://www.linkedin.com/in/binglin-xie-b79a2a10a">Binglin Xie</a>
                                    · <a href="https://www.linkedin.com/">Hongyi Xie</a>
                                    · <a href="https://www.linkedin.com/in/xin-zou-899922ab">Xin Zou</a>
                                </p>
                                
                                <a class="github-button" href="https://github.com/vincivans/Music-recommendation" data-icon="octicon-eye" aria-label="Watch Music Recommendation on GitHub">Github</a>
                            </div><!--end .row-->
                        </div><!--end .col-md-12-->
                    </div><!--end .row-->
                </div><!--end .well .well-sm .main-footer-->
            </div><!--end .container-->
            </center>
        </div><!--end .container-->
    </section><!--end #footer-->
</body>
</html>