<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <title>Online Music recommendation APP</title>
</head>
<body>
    <div class="bg"></div>
    <div class="ui container">
        <div class="ui large inverted fixed pointing menu">
            <a href="/album" class="active item">
                <i class="icon home"></i>
            </a>
            <div class="right item">
            <a class="ui inverted button" href="/login">Log in</a>
            <a class="ui inverted button" href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="top-gutter"> </div> <!-- used to create gutter from top -->
    

   