<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Online Music recommendation APP</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="fullscreen-bg">
            <video autoplay loop class="fillWidth">
                <source src="/source/full-page3.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/source/full-page3.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="overlay">
                <div class="login-wrapper">
                    <h2 class="ui inverted center aligned header">
                      <!--<img src="assets/images/logo.png" class="image">-->
                        Log-in to your account
                    </h2>
                    <form action="/login" method="POST">
                    <div class="ui middle icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="ui middle icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <button class="ui fluid medium teal submit button" id="log-margin" type="submit">Log in</button>
                    </form>
                    <h4 class="ui inverted center aligned header">
                        <a href="/signup" class="ui inverted basic button">Sign up</a>
                        <a href="/main" class="active item">
                            <i class="icon home"></i>
                        </a>
                    </h4>
                    <% if(message.length > 0) { %>
                        <div class="ui negative message">
                          <i class="close icon"></i>
                          <div class="header"><%=message%> </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
<% include partials/footer %>