	<div class="col-sm-12 col-sm-12">
		<div class="form-group" id="singleuser">
			<h1>{{ user.username }}</h1>

			{{#if user.favoriteSong.length}}
			<h3>Favorite songs: </h3>
			<ul>
				{{#each user.favoriteSong}}
				<li>{{user.favoriteSong}}</li>
				{{/each}}
			</ul>
			{{/if}}
			<button class="btn btn-default" id="next-note">Add favorite</button>
		</div>
	</div>
		<div id="idHidden">
           	{{ user._id }}
        </div>
	<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-danger">
            <a href="/signout" rel="signout" id="link">
            Log out</a></button>
        </div>
    </div>