<article>
  <h1><%= artist["name"] %></h1>
  <p>popularity:<a><%= artist["popularity"] %></a></p>
  <img src=<%= artist["images"][2]["url"] %> >
  <% if((artist["genres"]).length) { %>
    <h3>Genres</h3>
    <ul>
      <% (artist["genres"]).forEach(function(g){ %>
        <li><%= g %></li>
      <% }); %>
    </ul>
 <% } %>
</article>
