<article>
  <h1><%= art["name"] %></h1>
  <p>popularity:<a><%= art["popularity"] %></a></p>
  <% if (art["images"].length) {%>
          <img src=<%= art["images"][2]["url"] %> >
      <% } else {%>
          <img src=https://www.youmus.com/assets/images/default_avatar.jpg >
  <%}%>
  <% if((art["genres"]).length) { %>
    <h3>Genres</h3>
    <ul>

      <% (art["genres"]).forEach(function(g){ %>
        <li><%= g %></li>
      <% }); %>
    </ul>
 <% } %>
</article>
