<article>
  <h1><%= art["name"] %></h1>
  <p>popularity:<a><%= art["popularity"] %></a></p>
  <img src=<%= art["images"][2]["url"] %> >
  <% if((art["genres"]).length) { %>
    <h3>Genres</h3>
    <ul>

      <% (art["genres"]).forEach(function(g){ %>
        <li><%= g %></li>
      <% }); %>
    </ul>
 <% } %>
</article>
